.route {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sequence {
  display: flex;
  height: 80px;
  background: #B3CFD4;
  margin: 0.7em;
  border-radius: 10px;
  cursor: move;
}

.sequence-order {
  background: tomato;
  width: 90px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-self: center;
}

.action {
  align-self: center;
  padding: 0 0.6rem;
  margin: 0 0.3rem;
  display: inherit;
}

.action textarea {
  resize: none;
  overflow: auto;
  width: 80%;
  vertical-align: middle;
  line-height: normal;
}

.action input {
  line-height: normal;
  margin: 3px;
  height: 1.8em;
  border: #ccc;
  border-radius: 4px;
}


.close {
  margin-right:15px;
}

/* TODO move to react-widget less-files*/

.select-value-icon,
.select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.a.select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.a.select-value-label:hover {
  text-decoration: underline;
}
.select-value-icon {
  cursor: pointer;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-left: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-left: 1px solid rgba(0, 126, 255, 0.24);
  padding: 2px 5px 2px 4px;
}
.select-value-icon:hover,
.select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
