.route {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sequence {
  display: flex;
  height: 80px;
  background: #B3CFD4;
  margin: 0.7em;
  border-radius: 10px;
  cursor: move;
}

.sequence-order {
  background: tomato;
  width: 90px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-self: center;
}

.action {
  align-self: center;
  padding: 0.6rem;
  margin: 0.3rem;
}

.action textarea {
  resize: none;
  overflow: auto;
  width: 80%;
  vertical-align: middle;
  line-height: normal;
}

.action input {
  line-height: normal;
  margin: 3px;
}
