[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
  }

/*
 Bootstrap Defaults 
*/ 

.navbar {
  padding: .5rem 2rem;
}

.container-fluid {
  padding: 0 4rem 0 2rem;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.btn {
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18);
  margin: 1rem 0;
  cursor: pointer;
}

/*
 End of Bootstrap Defaults 
*/


/*
 Route Containers
*/



.conditions {
  margin: 0.7rem 0;
  background-color: #FDFEFE;
}

.condition {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
  max-width: 50%;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.18)
}

.item {
  padding: 0.8em;
  flex-grow: 1;
  text-align:center;
  border: 1px solid #CCC;
}

.item-calendar {
  color: #27AE60;
}

.item-calendar:before {
  content: "\f073";
  font-family: FontAwesome;
  font-size: 1.4em;
}

.item-clock {
  color: #2980B9;
}

.item-clock:before {
  content: "\f017";
  font-family: FontAwesome;
  font-size: 1.4em;
}

.item-directory {
  color: #EC7063;
}

.item-directory:before {
  content: "\f2ba";
  font-family: FontAwesome;
  font-size: 1.4em;
}

.route {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

.sequence {
  display: flex;
  height: 80px;
  background: #B3CFD4;
  margin: 0.7em 0;
  border-radius: 10px;
  cursor: move;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.25)
}

.sequence-order {
  background: tomato;
  width: 90px;
  height: 100%;
  border-radius: 10px 0 0 10px;
  text-align: center;
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;

  align-self: center;
}

.action {
  align-self: center;
  padding: 0 0.6rem;
  margin: 0 0.3rem;
  display: inherit;
}

.action textarea {
  resize: none;
  overflow: auto;
  width: 80%;
  vertical-align: middle;
  line-height: normal;
}

.action input {
  line-height: normal;
  margin: 3px;
  height: 1.8em;
  border: #ccc;
  border-radius: 4px;
}


.close {
  margin-left: 0.8rem;
  cursor: pointer;
}

/* TODO move to react-widget less-files*/

.select-value-icon,
.select-value-label {
  display: inline-block;
  vertical-align: middle;
}
.select-value-label {
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  cursor: default;
  padding: 2px 5px;
}
.a.select-value-label {
  color: #007eff;
  cursor: pointer;
  text-decoration: none;
}
.a.select-value-label:hover {
  text-decoration: underline;
}
.select-value-icon {
  cursor: pointer;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  border-left: 1px solid #c2e0ff;
  /* Fallback color for IE 8 */
  border-left: 1px solid rgba(0, 126, 255, 0.24);
  padding: 2px 5px 2px 4px;
}
.select-value-icon:hover,
.select-value-icon:focus {
  background-color: #d8eafd;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 113, 230, 0.08);
  color: #0071e6;
}
.select-value-icon:active {
  background-color: #c2e0ff;
  /* Fallback color for IE 8 */
  background-color: rgba(0, 126, 255, 0.24);
}
